Redirect 301 / https://guides.hexlet.io/
Redirect 301 /bootstrap https://guides.hexlet.io/bootstrap/
Redirect 301 /markdown https://guides.hexlet.io/markdown/
Redirect 301 /ssh https://guides.hexlet.io/ssh/
Redirect 301 /atom-js-setup https://guides.hexlet.io/atom-js-setup/
Redirect 301 /vscode-js-setup https://guides.hexlet.io/vscode-js-setup/
Redirect 301 /typing https://guides.hexlet.io/typing/
Redirect 301 /how-to-search https://guides.hexlet.io/how-to-search/
Redirect 301 /learning https://guides.hexlet.io/learning/
Redirect 301 /development-on-windows https://guides.hexlet.io/development-on-windows/
Redirect 301 /vagrant https://guides.hexlet.io/vagrant/
Redirect 301 /jekyll https://guides.hexlet.io/jekyll/
Redirect 301 /vim https://guides.hexlet.io/vim/
Redirect 301 /ubuntu-linux-in-windows https://guides.hexlet.io/ubuntu-linux-in-windows/
Redirect 301 /virtualization https://guides.hexlet.io/virtualization/
Redirect 301 /docker https://guides.hexlet.io/docker/
Redirect 301 /how-to-learn-sicp https://guides.hexlet.io/how-to-learn-sicp/
